{% extends "base.html" %}
{% block title %}
O Autorze
{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <p class="lead text-dark">Kacper Kozielec - student Informatyki Ekonomicznej na ANS w Nowym Targu</p>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-12">
            <h2 class="h3 text-dark">Doświadczenie i projekty</h2>
            <p class="text-dark">W trakcie studiów brałem udział w wielu projektach związanych z programowaniem, w tym:</p>
            <ul class="text-dark">
                <li><strong>CeneoWebScraper</strong> Stworzyłem aplikację do pobierania i analizy opinii z Ceneo, wykorzystując web scraping w Pythonie. Dane prezentowane są w formie raportów i wykresów, wspomagając decyzje zakupowe..</li>
                <li><strong>Aplikacja do zarządzania projektami</strong> Stworzyłem aplikację webową do zarządzania zadaniami i projektami, wykorzystując Flask, SQLite i Bootstrap..</li>
            </ul>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-12">
            <h2 class="h3 text-dark">Udział w konkursach </h2>
            <p class="text-dark">W ciągu ostatnich lat brałem również udział w kilku konkursach i hackathonach, gdzie mogłem sprawdzić swoje umiejętności w praktyce:</p>
            <ul class="text-dark">
                <li><strong>Konnkurs </strong>Jeśli myślisz że brałem udział w jakimkolwiek konkursie to sie mylisz, jestem zaangażowany w rozwój strony i nie zajmuje głowy niepotrzebnymi konkursami </li>
                <li><strong>Konkurs krajobrazowy </strong> Zająłem pierwsze miejsce w konkursie rysunkowym w 3 klasie podstawówki </li>
            </ul>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-12">
            <h2 class="h3 text-dark">Moje zainteresowania</h2>
            <p class="text-dark">Moimi zainteresowaniami są w głównej mierze motoryzacja, sport oraz programowanie w którym jestem zakochany.</p>
            <p class="text-dark">Strona została stworzona w ramach nauki programowania i eksploracji technologii. Głównym celem projektu było zebranie i analiza danych z serwisu Ceneo – porównywarki cen, aby lepiej zrozumieć procesy web scrapingu i prezentacji danych.</p>
        </div>
    </div>
</div>
{% endblock %}